.navbar{
    background-color: #890404;
}

.nav-link{
    font-size: 25px;
}

.carousel {
    background-color: #f9d1ff;
}

.d-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.carousel-caption{
    font-size: 30px;
    top: 20%;
}

.home-greeting{
    background-color: #890404a2;
    border-radius: 20px;
    padding: 20px;
}

#box{
    color: blanchedalmond;
    background-color: #890404;
    width: 30%;
    padding: 30px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#dropdownMenuButton{
    color: blanchedalmond;
    background-color: #890404;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.card{
    justify-content: center;
    margin: 50px;
}

#card-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#stats{
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: auto;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.d-flex{
    text-align: center;
}

#cardsCarousel:hover .carousel-item{
    opacity: 0.5;
}

#cardsCarousel:hover #stats{
    opacity: 1;
}

@media (max-width: 768px) {    
    .nav-link{
        font-size: 15px;
    }
    
    .carousel-caption{
        font-size: 15px;
        top: 20%;
    }
}